html {
	width: 100%;
	min-height: 100%;
}

body {
	margin: 0;
	font-size: 13px;
	font-family: Trebuchet MS;
	line-height: 24px;
	color: #1A1B1B;
	min-height: 100%;
}

a {
	color: #7A3C98;
	text-decoration: none;
}
a:hover {
	color: #1A1B1B;
	text-decoration: underline;
}

a.edit {
	color: #666;
	font-size: 11px;
	font-family: Verdana;
	text-transform: lowercase;
}

.left {
	float: left;
}
.right {
	float: right;
}

small {
	display: block;
	line-height: 16px;
	font-size: 11px;
	font-family: Verdana;
}

ul {
}
	ul li {
		list-style: square;
	}

div.wrap {
	margin: 0 auto;
	max-width: 1200px;
	min-width: 980px;
	width: 96%;
}

div#top {
	position: fixed;
	top: 0;
	z-index: 3;
	width: 100%;
	height: 40px;
	background: #7A3C98;
	border-bottom: 1px solid #000;
}
	div#top h3 {
		margin: 0;
		font-family: Delicious;
		font-size: 20px;
		font-weight: normal;
		text-shadow: 1px 1px 1px #000000;
		display: inline;
	}
		div#top h3 a {
			float: left;
			padding-top: 9px;
			color: #FFFFFF;
			text-decoration: none;
			background: url( ../img/pulse.png ) left 6px no-repeat;
			padding-left: 35px;
			margin-left: -35px;
		}
	div#top span.external {
		float: left;
		margin-left: 20px;
		font-size: 11px;
		font-family: Verdana;
		margin-top: 10px;
		color: #FAFAFA;
	}
		div#top span.external a {
			color: #FFFFFF;
		}
	div#top ul#account {
		float: right;
		margin: 0;
		padding: 0;
		color: #FFF;
		width: 200px;
		border: 1px solid transparent;
		border-top: none;
		border-bottom: none;
		padding: 0 10px;
		margin-right: -10px;
	}
	div#top ul#account:hover {
		background: #FFF;
		color: #1A1B1B;
		border-color: #C7C7C7;
	}
		div#top ul#account li {
			list-style: none;
			float: right;
		}
			div#top ul#account li img {
				width: 24px;
				height: 24px;
				float: left;
				margin-right: 5px;
			}
				div#top ul#account ul#login li img {
					width: auto;
					height: auto;
					float: right;
					margin-right: 0;
				}
		div#top ul#account li.top {
			padding: 10px 0px 6px;
			text-align: right;
			width: 100%;
		}
			div#top ul#account li.top a {
				color: #FFFFFF;
			}
			div#top ul#account:hover li.top a {
				color: #7A3C98;
			}
			div#top ul#account:hover li.top a:hover {
				color: #1A1B1B;
			}
		div#top ul#account:hover {
			border-color: #000;
		}
			div#top ul#account li.top img {
				float: right;
				border: 1px solid #000;
				box-shadow: 1px 1px 1px #333;
				margin-top: -2px;
				margin-left: 10px;
			}
			div#top ul#account li.top span {
				float: right;
			}
		div#top ul#account ul {
			display: none;
			position: absolute;
			width: 200px;
			background: #FFF;
			margin: 0;
			padding: 10px 10px 0 10px;
			text-align: right;
			margin-top: 40px;
			margin-left: -11px;
			border: 1px solid #C7C7C7;
			border-top: none;
		}
			div#top ul#account ul li {
				width: 100%;
				float: left;
				clear: both;
			}
				div#top ul#account ul li a {
					float: left;
					width: 100%;
					height: 100%;
					padding: 5px 10px;
					margin-left: -10px;
				}
			div#top ul#account ul li a:hover {
				background: #F7F7F7;
			}
			div#top ul#account ul li.title {
				color: #1A1B1B;
				font-weight: bold;
				border-top: 1px solid #C7C7C7;
				margin-top: 0px;
				background: transparent;
				margin-left: -10px;
				padding: 0 10px;
			}
				div#top ul#account ul li.account a {
					padding: 10px;
				}
				div#top ul#account ul li.account img {
					float: right;
					margin-right: 0;
					margin-left: 5px;
				}
		div#top ul#account:hover ul {
			display: block;
		}

div#messages {
	margin-top: 40px;
	position: relative;
}
	div#messages div.message {
		font-size: 20px;
		font-weight: bold;
		height: 24px;
		padding: 10px 0;
	}
		div#messages div.message div.wrap {
			text-indent: 150px;
		}
		div#messages div.message.success {
			background: #DFF2BF;
			color: #4F8A10;
			text-shadow: 1px 1px 1px #FFF;
			border-bottom: 1px solid #4F8A10;
		}
		div#messages div.message.warning {
			border-bottom: 1px solid #9F6000;
			color: #9F6000;
			text-shadow: 1px 1px 1px #FFF;
			background: #FEEFB3;
		}

div#header {
	margin-top: 0px;
	position: relative;
	z-index: 2;
	width: 100%;
	background: #ECECEC;
	border-bottom: 1px solid #C7C7C7;
	border-top: 1px solid #fff;
}
	div#header div.left, div#header div.right {
		width: 140px;
		margin-right: 10px;
	}
	div#header div.right {
		text-align: right;
		margin-right: 0;
	}
	div#header a.top {
		display: block;
		width: 130px;
		padding: 5px 10px 0 10px;
		margin-left: -10px;
		margin-top: -5px;
		border: 1px solid transparent;
	}
	div#header div.right a.top {
		margin-left: 0px;
	}
	div#header div.left:hover a.top, div#header div.right:hover a.top {
		background: #FFF;
		border: 1px solid #C7C7C7;
		border-bottom: none;
		color: #1A1B1B;
		text-decoration: none;
	}
	div#header ul {
		display: none;
		width: 130px;
		position: absolute;
		background: #FFF;
		padding: 10px;
		margin: 0;
		float: left;
		border: 1px solid #C7C7C7;
		border-top: none;
	}
		div#header div.left:hover ul {
			display: block;
		}
		div#header div.right:hover ul {
			display: block;
		}
		div#header div.left ul {
			margin-left: -10px;
		}
		div#header div.right ul {
			margin-left: 0px;
		}
		div#header ul li {
			list-style: none;
		}
		div#header ul li label {
			color: #7A3C98;
			cursor: pointer;
		}
		div#header ul li label:hover {
			color: #1A1B1B;
		}
	div#header h1 {
		font-size: 24px;
		font-family: Delicious;
		font-weight: normal;
	}

div#sidebars {
	top: auto;
	position: absolute;
	width: 100%;
}
	div#sidebars div.bottom {
		position: fixed;
		bottom: 20px;
	}
	div#sidebars div.left {
		width: 140px;
		margin-right: 0px;
	}
		div#sidebars div.left ul {
			margin: 0 0 30px 0;
			padding: 0;
			line-height: 16px;
		}
			div#sidebars div.left li {
				list-style: none;
				margin: 7px 0;
			}
			div#sidebars div.left li.title {
				font-weight: bold;
			}
				div#sidebars div.left li.title a.edit {
					font-weight: normal;
					display: none;
					line-height: 0;
				}
				div#sidebars div.left li img {
					float: left;
					margin-top: 0px;
					margin-left: -22px;
					border-radius: 3px;
					opacity: 0.2;
				}
				div#sidebars div.left li.source img {
					margin: 0;
					opacity: 0.2;
					margin-right: 3px;
					margin-bottom: 3px;
				}
					div#sidebars div.left li.source a {
						text-decoration: none;
					}
					div#sidebars div.left li.source span.first {
						position: absolute;
						z-index: 9;
						display: none;
						margin-top: -43px;
						margin-left: -70px;
						padding-bottom: 16px;
						width: 120px;
						height: 25px;
						overflow: hidden;
						background: url( ../img/backgrounds/source_icon.png ) center bottom no-repeat;
					}
					div#sidebars div.left li.source span.first span {
						float: left;
						width: 110px;
						height: 16px;
						overflow: hidden;
						padding: 3px;
						border: 1px solid #D7D7D7;
						border-bottom: none;
						background: #FFF;
						text-align: center;
					}
					div#sidebars div.left li.source:hover span {
						display: inline;
					}
				div#sidebars div.left li img.favicon {
					opacity: 1;
				}
				div#sidebars div.left li a:hover img {
					opacity: 1;
				}
				div#sidebars div.left ul:hover li.title a.edit {
					display: inline;
				}
			div#sidebars div.left li.title:first-child {
				margin-top: 0;
			}
				div#sidebars div.left li span.new {
					background: #EEEFF1;
					padding: 0px 4px;
					text-decoration: none;
					border-radius: 10px;
				}
				div#sidebars div.left li span.type {
					font-size: 11px;
					color: #999;
					font-family: Verdana;
					font-weight: normal;
					display: none;
				}
				div#sidebars div.left li span.type.shown {
					display: inline;
					line-height: 0;
				}
				div#sidebars div.left li:hover span.type {
					display: inline;
					line-height: 0;
				}
				div#sidebars div.left li ul {
					position: absolute;
					margin-left: 130px;
					z-index: 9;
					margin-top: -22px;
					background: #FFF;
					padding: 0 5px;
					width: 150px;
					border: 1px solid #D7D7D7;
					display: none;
				}
					div#sidebars div.left li:hover ul span.type {
						display: none;
					}
					div#sidebars div.left li:hover ul li:hover span.type {
						display: inline;
					}
	div#sidebars div.right {
		width: 234px;
		margin-top: -10px;
	}
		div#sidebars div.right a.biglink {
			font-size: 11px;
			font-family: Verdana;
			color: #666;
			text-decoration: none;
			line-height: 22px;
			display: block;
			border-bottom: 1px solid #F7F7F7;
			padding: 10px 5px;
			margin-left: -5px;
		}
		div#sidebars div.right a.biglink:hover {
			background: #FCFCFC;
		}
		div#sidebars div.right div.biglinks {
			margin-bottom: 20px;
		}
		div#sidebars div.right div.biglinks a.biglink:first-child {
			margin-top: -10px;
		}
		div#sidebars div.right div.biglinks a.biglink:last-child {
			border: none;
		}
			div#sidebars div.right a.biglink span {
				font-size: 16px;
				font-family: Trebuchet MS;
				color: #7A3C98;
				display: block;
			}
			div#sidebars div.right a.biglink:hover span {
				color: #1A1B1B;
				text-decoration: underline;
			}

div#content {
	margin-top: 30px;
	position: relative;
	z-index: 2;
}
	div#content div.main {
		margin: 0 254px 0 150px;
	}

	div.main span.edit {
		float: left;
		font-size: 11px;
		font-family: Verdana;
		color: #999;
		line-height: 20px;
		margin-top: -20px;
	}

div#stream {
}
	div#stream div.item {
		border-bottom: 1px solid #F7F7F7;
		padding-bottom: 15px;
		margin-bottom: 15px;
		float: left;
		width: 100%;
	}
	
div.smallstatus {
}
	div.smallstatus img {
		float: left;
		width: 25px;
		height: 25px;
		margin-right: 5px;
	}
	div.smallstatus span.meta {
		font-size: 11px;
		color: #666;
		font-family: Verdana;
		opacity: 0.5;
	}
	div.smallstatus:hover span.meta {
		opacity: 1;
	}

div.article {
	font-size: 13px;
}
	div#stream div.article {
		font-size: 13px;
	}
	div.article table {
		line-height: 0;
	}
	div.article img {
		max-width: 60%;
	}
	div.article blockquote {
		border-left: 10px solid #FAFAFA;
		margin-left: 20px;
		padding-left: 10px;
	}
	div.article ul li {
		list-style: square;
	}
	div.article code, div.article pre {
		background: #FAFAFA;
		padding: 3px;
		font-family: "Courier New", Courier;
	}
	div.article pre {
		word-wrap: break-word;
		padding: 10px;
	}
	div.article img.thumb {
		float: left;
		max-width: 200px;
		padding: 3px;
		margin-right: 10px;
		background: #F7F7F7;
		border: 1px solid #D7D7D7;
	}
	div.article img.thumb.alt {
		float: right;
	}
	div.article h2, div.article h3, div.article h4 {
		margin: 0 0 5px 0;
		font-family: Arial;
		font-family: Delicious;
		font-weight: bold;
	}
	div.article.level_1 h2 {
		font-size: 24px;
		margin-bottom: 10px;
	}
	div.article.level_2 h2 {
		font-size: 20px;
	}
	div.article h3 {
		font-size: 18px;
	}
	div.article h4 {
		font-size: 16px;
	}
	div.article span.content {
		display: block;
	}
	div.article span.content.image {
		margin-left: 175px;
	}
	div.article div.meta {
		clear: both;
		padding-top: 5px;
		opacity: 0.5;
	}
	div.article:hover div.meta {
		opacity: 1;
	}
		div.article div.meta div.details {
			float: left;
			width: 100%;
		}
			div.article div.meta div.details img {
				float: left;
				margin-right: 5px;
				margin-top: 3px;
				width: 16px;
				height: 16px;
				border-radius: 3px;
			}
			div.article div.meta div.details a {
				color: #1A1B1B;
			}
			div.article div.meta div.details span {
				font-family: Verdana;
				font-size: 11px;
				color: #666;
			}
				div.article div.meta div.details span a {
					color: #7A3C98;
				}
		div.article div.meta ul.similar {
			float: right;
			width: 50%;
			margin: 0;
			padding: 0;
			font-family: Verdana;
			font-size: 11px;
			color: #666;
		}
			div.article div.meta ul.similar li {
				list-style: none;
				padding: 0;
				margin-left: 90px;
			}
			div.article div.meta ul.similar li.title {
				margin-left: 0;
				margin-top: -1px;
				font-family: Verdana;
				font-size: 11px;
				color: #666;
				float: left;
			}
				div.article div.meta ul.similar span {
					font-family: Verdana;
					font-size: 11px;
					color: #666;
				}

div.article.half {
}
	div.article.half div.posthalf {
		float: left;
		width: 48%;
		position: relative;
	}
	div.article.half div.posthalf:last-child {
		float: right;
	}
	div.item.article.half.image div.posthalf {
		width: 50%;
	}
	div.item.article.half.image span.content img {
		width: 100%;
		max-width: 100%;
	}
	div.item.article.half h2 {
	}
	div.item.article.half.image h2 a {
		position: absolute;
		background: #1A1B1B;
		color: #F1F1F1;
		opacity: 0.8;
		padding: 10px;
		margin-top: -80px;
		max-height: 45px;
		overflow: hidden;
	}

div.item.images {
}
	div.item.images a {
		float: left;
		width: 25%;
		text-decoration: none;
	}
	div.item.images a:first-child {
	}
		div.item.images a img {
			float: left;
			width: 100%;
		}
		div.item.images a span {
			background: #FCFCFC;
			border: 1px solid #D7D7D7;
			border-right: none;
			color: #666;
			font-size: 11px;
			line-height: 13px;
			margin-top: 10px;
			padding: 2px 3%;
			width: 96%;
			height: 26px;
			overflow: hidden;
			margin-top: -26px;
			display: block;
			float: left;
		}
		div.item.images a:last-child span {
			border-right: 1px solid #D7D7D7;
		}
	div.item.images.third a {
		width: 33%;
	}

div.item.wide_image {
}
	div.item.wide_image h2 a {
		position: absolute;
		background: #1A1B1B;
		color: #F1F1F1;
		padding: 10px;
		opacity: 0.8;
		margin-top: -80px;
	}
		div.item.wide_image span.content img {
			max-width: 100%;
			width: 100%;
		}

div#article_frame {
	width: 100%;
	position: absolute;
	top: 41px;
	bottom: 0px;
}
	div#article_frame iframe {
		float: left;
		width: 100%;
		height: 100%;
	}