#Disable indexes
Options -indexes

#Engage config!
RewriteEngine On


#Error Docs
#Document Code											#File

ErrorDocument 404										/inc/error/404.html
ErrorDocument 500										/inc/error/500.html




#Rewrites												#
#RewriteRule											#Location

#Article
RewriteRule ^article/([0-9]+)/recipe$					index.php?load=article&id=$1&recipe=1 [QSA,L]
RewriteRule ^article/([0-9]+)$							index.php?load=article&id=$1 [QSA,L]


#Public Stream
RewriteRule ^public$									index.php?load=public [QSA,L]						#the public stream

#Tag Stream
RewriteRule ^tag/([0-9]+)$								index.php?load=tag&id=$1 [QSA,L]					#tag stream

#Source Stream
RewriteRule ^source/([0-9]+)$							index.php?load=source&id=$1 [QSA,L]					#source stream
RewriteRule ^account/([facebook|twitter]+)$				index.php?load=account&type=$1 [QSA,L]				#source (via /account) stream

#User Streams
RewriteRule ^user/([0-9]+)+$							index.php?load=user&id=$1 [QSA,L]					#user streams (hybrid)
RewriteRule ^user/([0-9]+)/hybrid						/user/$1 [QSA,R=301,L]								#redirect /hybrid to /
RewriteRule ^user/([0-9]+)/([a-z0-9]+)$ 				index.php?load=user&id=$1&stream=$2 [QSA,L]			#user streams (unread, popular, newest, discover?)

#User settings
RewriteRule ^settings$									index.php?load=settings [QSA,L]						#user settings

#User enter invite code
RewriteRule ^invite$									index.php?load=invite [QSA,L]						#enter invite code

#User Login
RewriteRule ^login$										index.php?load=login [QSA,L]						#login page


#Source Browsing
RewriteRule ^sources$									index.php?load=source-browse [QSA,L]				#popular
RewriteRule ^sources/new$								index.php?load=source-browse&new [QSA,L]			#new sources
RewriteRule ^sources/me$								index.php?load=source-browse&me [QSA,L]				#subscribed sources
RewriteRule ^sources/add$								index.php?load=source-add [QSA,L]					#add source
RewriteRule ^sources/([a-z0-9]+)$						index.php?load=source-browse&tag=$1 [QSA,L]			#browse by tag
#see source stream

#Collection Browsing
RewriteRule ^collections$								index.php?load=collection-browse [QSA,L]			#popular collections
RewriteRule ^collections/new$							index.php?load=collection-browse&new [QSA,L]		#new collections
RewriteRule ^collections/me$							index.php?load=collection-browse&me [QSA,L]			#my collections
RewriteRule ^collections/add$							index.php?load=collection-add [QSA,L]				#add collections
RewriteRule ^collections/([0-9]+)						index.php?load=collection-view [QSA,L]				#see a specific collection


#Search
RewriteRule ^search$									index.php?load=search [QSA,L]						#search


#Process
RewriteRule ^process/([aA-zZ-]+)						index.php?process=$1 [QSA,L]						#processes?