body#body_login {
	background: #F7F7F7;
}

div#login {
	width: 500px;
	height: 300px;
	margin: 0 auto;
	margin-top: 150px;
}
	div#login h1 {
		background: #A40802;
		color: #000;
		font-family: 'PT Sans', Arial;
		font-style: italic;
		font-weight: normal;
		padding: 13px 0 7px 10px;
		border-radius: 5px 5px 0 0;
		margin: 0;
	}
		div#login h1 span {
			position: absolute;
			color: #FFF;
			margin-left: -1px;
			margin-top: -2px;
		}
			div#login h1 span small {
				display: inline;
				font-size: 14px;
				font-family: 'Trebuchet MS';
			}
	div#login div#buttons {
		float: left;
		width: 498px;
		border: 1px solid #D7D7D7;
		border-top: none;
		border-radius: 0 0 5px 5px;
		background: #FFF;
		padding-bottom: 10px;
	}
		div#login div#buttons p {
			margin: 0 0 10px 0;
			background: #F7F7F7;
			border-bottom: 1px solid #D7D7D7;
			padding: 10px;
		}
		div#login div#buttons .login {
			float: left;
			width: 230px;
			font-size: 17px;
			font-family: PT Sans, Arial;
			margin: 15px 0 15px 15px;
		}
		div#login div#buttons a.login.big {
			text-decoration: none;
		}
			div#login div#buttons a.login img {
				float: left;
				margin-top: -5px;
				margin-right: 10px;
			}
			div#login div#buttons a.login.big img {
				margin-top: 2px;
			}
			div#login div#buttons a.login.big em {
				font-style: normal;
			}
			div#login div#buttons a.login.big:hover em {
				text-decoration: underline;
			}
			div#login div#buttons a.login span {
				font-size: 11px;
				font-family: Verdana;
				color: #666;
				display: block;
				line-height: 8px;
				text-decoration: none;
			}
	div#login div#buttons form.login {
		margin: 15px 0 0px 15px;
	}
		div#login div#buttons form.login input {
			float: right;
			width: 159px;
			font-size: 17px;
			font-family: 'PT Sans';
			padding: 3px 5px;
		}
		div#login div#buttons form.login input[type=submit] {
			width: 28px;
			min-width: 0;
			padding: 3px 0;
		}