#nginx server

#redirect
server {
	listen 80;
	server_name pulsefeed.net www.pulsefeed.net www.pulsefeed.com;
	rewrite ^    http://pulsefeed.com$request_uri? permanent;
}

#main
server {
	listen 80;
	server_name pulsefeed.com;

	access_log /var/log/nginx/pulsefeed.access_log;
	error_log /var/log/nginx/pulsefeed.error_log;

	root /home/pulsefeed/www;
	index index.php;


	#Error Docs
	#Document Code										#File

	error_page 404										/inc/error/404.html;
	error_page 500										/inc/error/500.html;


	#Rewrites											#Location

	#Article
	rewrite ^/article/([0-9]+)/collect$					/index.php?load=article-collect&id=$1 last;
	rewrite ^/article/([0-9]+)$							/index.php?load=article&id=$1 last;


	#Public Stream
	rewrite ^/public$									/index.php?load=public last;						#the public stream

	#Tag Stream
	rewrite ^/tag/([0-9]+)$								/index.php?load=tag&id=$1 last;						#tag stream

	#Source Stream
	rewrite ^/source/([0-9]+)$							/index.php?load=source&id=$1 last;					#source stream

	#Account Stream
	rewrite ^/account/([aA-zZ]+)/([0-9]+)$				/index.php?load=account&type=$1&userid=$2 last;		#account with userid set
	rewrite ^/account/([aA-zZ]+)$						/index.php?load=account&type=$1 last;				#source (via /account) stream

	#User Streams
	rewrite ^/user/([0-9]+)+$							/index.php?load=user&id=$1 last;					#user streams (hybrid)
	rewrite ^/user/([0-9]+)/([a-z0-9]+)$ 				/index.php?load=user&id=$1&stream=$2 last;			#user streams (unread, popular, newest, discover?)

	#Collection Stream
	rewrite ^/collection/([0-9]+)$						/index.php?load=collection&id=$1 last;				#collection stream

	#User settings
	rewrite ^/settings$									/index.php?load=settings last;						#user settings

	#User enter invite code
	rewrite ^/invite$									/index.php?load=invite last;						#enter invite code

	#User Login
	rewrite ^/login$									/index.php?load=login last;							#login page


	#Source Browsing
	rewrite ^/sources$									/index.php?load=source-browse last;					#popular
	rewrite ^/sources/new$								/index.php?load=source-browse&new last;				#new sources
	rewrite ^/sources/me$								/index.php?load=source-browse&me last;				#subscribed sources
	rewrite ^/sources/add$								/index.php?load=source-add last;					#add source
	rewrite ^/sources/([a-z0-9]+)$						/index.php?load=source-browse&tag=$1 last;			#browse by tag
	#see source stream

	#Collection Browsing
	rewrite ^/collections$								/index.php?load=collection-browse last;				#popular collections
	rewrite ^/collections/new$							/index.php?load=collection-browse&new last;			#new collections
	rewrite ^/collections/me$							/index.php?load=collection-browse&me last;			#my collections
	rewrite ^/collections/add$							/index.php?load=collection-add last;				#add collections
	rewrite ^/collections/([0-9]+)						/index.php?load=collection-view last;				#see a specific collection


	#Search
	rewrite ^/search$									/index.php?load=search last;						#search

	#Process
	rewrite ^/process/([aA-zZ-]+)						/index.php?process=$1 last;							#processes?

	#Route .php to index
	rewrite ^/.*\.php$									/index.php last;


	#Handle PHP
	location ~ .php$ {
		fastcgi_pass   127.0.0.1:9000;
		fastcgi_index  index.php;
		fastcgi_param  SCRIPT_FILENAME /home/pulsefeed/www$fastcgi_script_name;
		include fastcgi_params;
	}

	#Add cache on all static content
	location ~* \.(ico|gif|jpe?g|png)$ {
	    expires max;
	    add_header Pragma public;
	    add_header Cache-Control "public, must-revalidate, proxy-revalidate";
	}
}